html {
    background-color: rgb(46, 45, 48);
    color: rgb(250, 255, 245);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.CardList {
    display: flex;
    flex-direction: column;
    background-color: rgb(109, 84, 84);
    padding: 16px;
}

a {
    all:unset
}

h1 {
    position: relative;
    margin-bottom: 64px;
    background-color: #bad1bc;
    color: #333535f8;
    padding: 20px;
    top: 0px;
}

.ProfileCard {
    border: 1px transparent;
    border-radius: 16px;
    margin: 16px;
    padding: 8px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(21, 83, 21);
    background-image: linear-gradient(to left, #bad1bc,#bbf8f8f8);

    max-width: 400px;
}

.ProfileCard>* {
    margin: 8px;
}

.ProfileCard:hover {
    transition: all 0.2s;
    border: 1px solid green;
    margin: 12px;
}

input {
    margin: auto;
    padding: 8px;
    width: 80vw;
    max-width: 400px;
}

@media (min-width: 600px)  {
    .CardList {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: start ;
        justify-items: center ;
        max-width: 80vw;
        height: auto;
    }
}